<h1><%= @user.username.capitalize %>'s Profile:</h1>
<br>
<br>
<h2>HiLites:</h2>
<% @hilites.each do |f| %>
    <li><%= link_to f.title, hilite_path(f)%></li>
    <br>
<% end %>
<br>

<h3>Comments:</h3>

<% @user.comments.each do |f| %>
    <li><%= link_to f.content, hilite_path(f.hilite_id) %></li>
    <br>
<% end %>

